# CPU-only PyTorch
torch==2.1.2
torchvision==0.16.2
torchaudio==2.1.2

# ONNX Runtime CPU version
onnxruntime==1.17.0

# Core packages
numpy==1.26.4
fastapi<0.113.0
opencv-python==4.9.0.80
onnx==1.17.0
insightface==0.7.3
albucore==0.0.16
psutil==5.9.6
tqdm==4.66.4
ftfy
regex
pyvirtualcam

# Match with Kaggle system packages
dask==2024.8.0
distributed==2024.8.0

# UI
gradio==4.43.0
websockets==12.0

# (removed google-genai to fix conflicts)
